@model IEnumerable<OceanOdyssey.Application.DTOs.ResumenReservacionDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Reservas</h1>
<section class="row">
    <div class="col-2">
        <ul class="list-group" style="background-color:white">
            <li class="list-group-item">
                <button type="button" class="btn btn-info" onclick="buscarxCategoria(0)">Todos</button>
            </li>
            <p>
                <a asp-action="Create" asp-controller="ResumenReservacion" class="btn btn-primary">Crear nueva reservacion</a>
            </p>
            @foreach (var item in (List<OceanOdyssey.Application.DTOs.FechaCruceroDTO>)ViewBag.ListFechas)
            {
                <li class="list-group-item">
                    <button type="button" class="btn btn-info" onclick="buscarxCategoria(@item.Id)">@item.IdcruceroNavigation.Nombre @item.FechaInicio</button>
                </li>
            }
        </ul>
    </div>
    <div class="col">
        <div id="listaLibros" >
            @await Html.PartialAsync("_ListReservas", Model)
        </div>
    </div>
</section>

@section Scripts {
    <script type="text/javascript">
        function buscarxCategoria(IdCategoria) {
            const valIdCategoria = IdCategoria
            const divLista = document.getElementById("listaLibros")
            //Solicitud al controlador
            const myRequest = '@Url.Action("buscarxCrucero", "ResumenReservacion")'
            //Opciones de la solicitud o Método HTTP
            const options = {
                method: 'GET'
            }
            fetch(myRequest + "?idCrucero=" + valIdCategoria, options)
                .then(function (response) {
                    if (!response.ok) {
                        return response.text().then(text => { throw new Error(text) })
                    }
                    return response.text()
                })
                .then((text) => {
                    divLista.innerHTML = text
                }).catch(Error => {
                    Swal.fire({
                        title: "Error",
                        text: error,
                        icon: "error"
                    })
                })
        }
    </script>
}
