@{
    ViewData["Title"] = "Inicio";
}

<div class="container mt-5">
    <!-- Sección de Bienvenida -->
    <section class="text-center">
        <h1 class="display-4">¡Explora el Mundo en Crucero!</h1>
        <p class="lead">Descubre destinos inolvidables con el lujo y confort que solo un crucero puede ofrecer.</p>
        <a class="btn btn-primary btn-lg" asp-controller="ResumenReservacion" asp-action="Create">Reserva Ahora</a>

    </section>


    <section class="mt-5">
        <h2 class="text-center mb-4">Nuestros destinos</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="./images/Flag_of_Argentina.svg.png" class="card-img-top" alt="Argentina">
                    <div class="card-body">
                        <h5 class="card-title">Argentina </h5>


                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="./images/Bandera_de_España.svg.png" class="card-img-top" alt="España">
                    <div class="card-body">
                        <h5 class="card-title">España</h5>


                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="./images/Flag_of_Portugal.svg.png" class="card-img-top" alt="Portugal">
                    <div class="card-body">
                        <h5 class="card-title">Portugal</h5>


                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Sección de Beneficios -->
    <section class="mt-5 bg-light p-4 rounded">
        <h2 class="text-center">¿Por qué elegirnos?</h2>
        <div class="row text-center">
            <div class="col-md-4">
                <i class="fas fa-ship fa-3x"></i>
                <h4>Flota Moderna</h4>
                <p>Cruceros equipados con tecnología de última generación y lujo incomparable.</p>
            </div>
            <div class="col-md-4">
                <i class="fas fa-utensils fa-3x"></i>
                <h4>Gastronomía Exclusiva</h4>
                <p>Sabores del mundo en restaurantes de clase mundial con chefs reconocidos.</p>
            </div>
            <div class="col-md-4">
                <i class="fas fa-music fa-3x"></i>
                <h4>Entretenimiento de Primer Nivel</h4>
                <p>Desde espectáculos en vivo hasta actividades recreativas para toda la familia.</p>
            </div>
        </div>
    </section>


</div>
